<section class="content" data-ng-controller="CandidateListCtrl" style="margin-top:0px">
	<header class="navbar sub-header position-header" ng-show="activeJob.full_title" style="height:40px;">
		<section class="container">
			<h4 style="line-height: 50px; margin: 0;">
				{{(activeJob.title === '') ? activeJob.full_title : activeJob.title}}
			</h4>
		</section>
	</header>
	<header class="navbar sub-header flow-header">
		<section class="container">
			<ul class="nav navbar-nav table-style table-style-bordered" style="position:relative;height:50px;line-height:50px;">
				<li class="funnel-tabs" ng-repeat="stage in client.funnel" ng-class="{funnelActive: activeList === stage}">
					<div>
						<a href="" ng-click="switchCandidateList(stage)" ><span>{{candidates.qualifiedCandidates[stage].length + candidates.disqualfiedCandidates[stage].length}} {{stage}}</span>
						</a>
					</div>
				</li>
			</ul>
		</section>
	</header>

	<section class="container" style="margin-top:5px;">
		<div class="col-xs-gold3" >

			<ul class="tabs table-style">
				<li ng-class="{active:qualifiedList}"><a href="" ng-click="qualifiedList = true;">{{candidates.qualifiedCandidates[activeList].length}} Qualified</a></li>
				<li ng-class="{active:!qualifiedList}"><a href="" ng-click="qualifiedList = false;">{{candidates.disqualifiedCandidates[activeList].length}} Disqualified</a></li>
			</ul>
			<ul class="list" style="padding-bottom:0px;margin-bottom:-5px;">
				<li class="candidate">{{candidateListInfo}}
					<span class="dropdown" ng-show="candidates.allCandidates.length > 0" >
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" style="margin-top:-100px;margin-left:15px;">

							<li>
								<a href="" ng-click="sortFirstAsc()">Sort Firstname Ascending</a>
							</li>
							<li>
								<a href="" ng-click="sortFirstDesc()">Sort Firstname Descending</a>
							</li>
							<li>
								<a href="" ng-click="sortLastAsc()">Sort Lastname Ascending</a>
							</li>
							<li> 
								<a href="" ng-click="sortLastDesc()">Sort Lastname Descending</a>
							</li>
						</ul>							
					</span>
				</li>
			</ul>
			<ul class="list" ng-show="qualifiedList" style="height:800px;overflow:scroll;margin-top:0;">

				<li ng-repeat="candidate in candidates.candidateFunnel"> 
				<a href="#!/app/clients/{{clientId}}/jobs/{{jobId}}/candidates/{{candidate._id}}" ng-click="selectCandidate(candidate)" class="candidate">
					{{candidate.name}}
				</a>
				</li>
			</ul>
			<ul class="list" ng-show="!qualifiedList" >
				<li ng-repeat="candidate in candidates.disqualifiedFunnel">
					<a href="#!/app/clients/{{clientId}}/jobs/{{jobId}}/candidates/{{candidate._id}}" ng-click="selectCandidate(candidate)" class="candidate">
						{{candidate.name}}
					</a>
				</li>
			</ul>
		</div>
		<section data-ui-view></section>
	</section>
</section>
