<section ng-controller="ModifyUserCtrl">
	<div class="col-xs-12">
		<h3>Modify Users</h3>
	</div>
	<div class="container" style="margin-bottom:40px;">
		<div class="row">
			<div class="col-xs-12">
				<div>
					<h4>Invite a new user</h4>
				</div>
				<div>
					<a class="btn btn-default btn-md" ng-click="newUserModal()">
						Invite User
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<div>
					<h4>Find a current user you want to modify:</h4>
					<p>Search by:</p>
					<fieldset>
						<input type="radio" name="search-method" ng-model="user.searchMethod" value="email"> Email</input>
						<input type="radio" name="search-method" ng-model="searchUser.searchMethod"
						value="username"> UserName</input>
						<div style="margin:20px;"></div>
						<label style="float:left;">Search:</label>
						<input class="form-control" type="text" ng-model="searchUser.searchValue"></input>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="row">

		</div>
	</div>
</section>